.favorite_maintenance {
  text-align: center;
  font-size: 15px;
}

.total_price__order {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: flex;
  font-weight: bold;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#btnGetOrder {
  height: 50px;
}

.product_images__order {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
