.product__category {
  border: 1px solid rgb(194 193 193 / 63%);
  border-radius: 15px;
}

.make_margin {
  margin: 5px 0px;
}

.make_color_teal {
  color: #009688;
}

.images_category {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.images_carousel {
  object-fit: cover;
  height: 25vh;
  width: 100%;
  border-radius: 12px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: teal;
  width: 10px;
  height: 10px;
}

#cat_title {
  font-size: large;
}
